<!-- ##### Welcome Area Start ##### -->
<app-banner></app-banner>
<!-- ##### Welcome Area End ##### -->

<!-- ##### Top Catagory Area Start ##### -->
<app-caterogies></app-caterogies>
<!-- ##### Top Catagory Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<app-globar-sale></app-globar-sale>
<!-- ##### CTA Area End ##### -->

<!-- ##### New Arrivals Area Start ##### -->
<app-popular-products></app-popular-products>
<!-- ##### New Arrivals Area End ##### -->

<!-- ##### Brands Area Start ##### -->
<app-brands></app-brands>
<!-- ##### Brands Area End ##### -->
