<!DOCTYPE html>
<html>
    <head>
        <title>Motion</title>
        <link rel="stylesheet" href="./style/main.css">
    </head>
    <body>
    <!--        Header area Start-->
    <header id="header">
        <!--        Menu area Start-->
        <div class="header-menu">
            <span class="menu-button" onclick="showMenu()">
                <span class="menu-button1"></span>
                <span class="menu-button2"></span>
                <span class="menu-button3"></span>
            </span>
            <div class="cros" id="cros" onclick="closeMenu()">
                <div class="cros1"></div>
                <div class="cros2"></div>
            </div>
            <div class="logo">
                <img src="./images/header/graph.png" alt="Motion">
                <h1>Motion</h1><br>
                <p>Asingle Page Template</p>
            </div>
            <div class="menu">
                <ul id="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Time</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Other</a></li>
                    <li style="margin: 0;"><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="corner">
                <img class="corner-img1" src="./images/header/shadow1.png">
                <img class="corner-img2" src="./images/header/shape.png">
            </div>

        </div>
        <!--        Menu area End-->
        <!--        Welcome area  Start-->
        <div class="welcome">
            <h1>Welcome to Motion</h1>
            <p>Asmart & Creative Single Page Template</p>
            <div class="arrow-prev">
                <img src="./images/header/arrows/arrow-prev.png" alt="">
            </div>
            <div class="arrow-next">
                <img src="./images/header/arrows/arrow-next.png" alt="">
            </div>
            <div class="container">
                 <div class="safari-browser-screen1 slides">
                    <img src="./images/header/safari browser screen (back1)/bar elements/dots/red.png" alt="">
                    <img src="./images/header/safari browser screen (back1)/bar elements/dots/yellow.png" alt="">
                    <img src="./images/header/safari browser screen (back1)/bar elements/dots/green.png" alt="">
                    <div class="arrows">
                        <img src="./images/header/safari%20browser%20screen%20(back1)/bar%20elements/arrows.png" alt="">
                    </div>
                    <div class="screen-web1">
                        <img src="./images/header/safari%20browser%20screen%20(back1)/screen-web1.png" alt="">
                    </div>
                </div>

                <img class="shadow2" src="./images/header/safari%20browser%20screen%20(back2)/Shadow--copy.png" alt="">
                <div class="safari-browser-screen2 slides">
                    <img src="./images/header/safari browser screen (back2)/bar elements/dots/red.png" alt="">
                    <img src="./images/header/safari browser screen (back2)/bar elements/dots/yellow.png" alt="">
                    <img src="./images/header/safari browser screen (back2)/bar elements/dots/green.png" alt="">
                    <div class="arrows">
                        <img src="./images/header/safari%20browser%20screen%20(back2)/bar%20elements/arrows.png" alt="">
                    </div>
                    <div class="layer-5">
                        <img src="./images/header/safari%20browser%20screen%20(back2)/Layer-5.png" alt="">
                    </div>
                </div>

                <img class="shadow3" src="./images/header/safari%20browser%20screen/Shadow-.png" alt="">
                <div class="safari-browser-screen3 slides">
                    <img src="./images/header/safari browser screen/bar elements/dots/red.png" alt="">
                    <img src="./images/header/safari browser screen/bar elements/dots/yellow.png" alt="">
                    <img src="./images/header/safari browser screen/bar elements/dots/green.png" alt="">
                    <div class="arrows">
                        <img src="./images/header/safari%20browser%20screen/bar%20elements/arrows.png" alt="">
                    </div>
                    <div class="screen-web">
                        <img src="./images/header/safari%20browser%20screen/screen-web.png" alt="">
                    </div>
                </div >

                <div class="iPhone-screen">
                    <div class="iPhone-body">
                        <img src="./images/header/iPhone screen/stuff/body.png" alt="">
                    </div>
                    <img src="./images/header/iPhone screen/stuff/signal.png" alt="">
                    <div class="edge-buttons">
                        <img src="./images/header/iPhone screen/stuff/edge-buttons.png" alt="">
                    </div>
                    <div class="cam">
                        <img src="./images/header/iPhone screen/stuff/cam.png" alt="">
                    </div>
                    <div class="micro">
                        <img src="./images/header/iPhone screen/stuff/micro.png" alt="">
                    </div>
                    <div class="home-btn">
                        <img src="./images/header/iPhone screen/stuff/home-btn.png" alt="">
                    </div>
                    <div class="Shape-51">
                        <img src="./images/header/iPhone screen/Shape-51.png" alt="">
                    </div>
                    <div class="glare">
                        <img src="./images/header/iPhone screen/glare.png" alt="">
                    </div>
                  </div>
            </div>

        </div>
        <!--        Welcome area  End-->
    </header>
    <!--        Header area  End-->

    <!--        Body area Start-->
    <div class="body">
        <!--        Smart & Creative area Start-->
        <div class="merits">
            <div class="merits-title">
                <h1>Smart & Creative</h1>
                <p>This is why you will use it :)</p>
            </div>

            <div class="districts">
                <div id="flat" class="item">
                    <div class="district">
                        <img src="./images/merits/Shape-87.png" alt="">
                    </div>
                    <h2>Multi purpose</h2>
                    <p>Lorem ipsum dolor sit amet,<br> consectetur asipiscing..</p>
                </div>
                <div id="multi" class="item">
                    <div class="district">
                        <div class="vertical"></div>
                        <div class="horizontal"></div>
                        <img src="./images/merits/Layer.png" alt="">
                    </div>
                    <h2>Flat UI</h2>
                    <p>Lorem ipsum dolor sit amet,<br> consectetur asipiscing..</p>
                </div>
                <div id="creative" class="item">
                    <div class="district">
                        <img class="sky1" src="./images/merits/Cloud-base.png" alt="">
                    </div>
                    <h2>Creative Design</h2>
                    <p>Lorem ipsum dolor sit amet,<br> consectetur asipiscing..</p>
                </div>
            </div>

        </div>
        <!--        Smart & Creative area End-->

        <!--        Talented & Expects area Start-->
        <div class="talented-expects">
            <h1>Talented & Expects</h1>
            <p>This is our time :)</p>
            <div class="persons">
                <div class="person">
                    <div class="talent-image">
                        <img src="./images/time/Layer-3.png" alt="">
                    </div>
                    <h2>Mahmoud Baghagho</h2>
                    <p>Senior UI Designer</p>
                    <button>
                        <img src="./images/time/twitter-icon.png" alt=""><span>Follow</span>
                    </button>
                </div>
                <div class="person">
                    <div class="talent-image">
                        <img src="./images/time/Layer-4.png" alt="">
                    </div>
                    <h2>Abd ElRahman</h2>
                    <p>Senior App Developer</p>
                    <button>
                        <img src="./images/time/twitter-icon.png" alt=""><span>Follow</span>
                    </button>
                </div>
                <div class="person">
                    <div class="talent-image">
                        <img src="./images/time/Layer-13.png" alt="">
                    </div>
                    <h2>Mostafa Amin</h2>
                    <p>Senior Graphic Designer</p>
                    <button>
                        <img src="./images/time/twitter-icon.png" alt=""><span>Follow</span>
                    </button>
                </div>
                <div class="person">
                    <div class="talent-image">
                        <img src="./images/time/Layer-14.png" alt="">
                    </div>
                    <h2>Ahmed Ali</h2>
                    <p>Senior Web Developer</p>
                    <button>
                        <img src="./images/time/twitter-icon.png" alt=""><span>Follow</span>
                    </button>
                </div>

            <!--                For Slideshow-->
            <div class="slider"></div>
                <div class="prev" onclick="prevArrow(1)">
                    <img src="./images/header/arrows/arrow-prev.png" alt="">
                </div>
                <div class=" pers1 slide">
                <div class="talent-image">
                    <img src="./images/time/Layer-3.png" alt="">
                </div>
                <h2>Mahmoud Baghagho</h2>
                <p>Senior UI Designer</p>
                <button>
                    <img src="./images/time/twitter-icon.png" alt=""><span>Follow</span>
                </button>
            </div>
                <div class=" pers2 slide">
                    <div class="talent-image">
                        <img src="./images/time/Layer-4.png" alt="">
                    </div>
                    <h2>Abd ElRahman</h2>
                    <p>Senior App Developer</p>
                    <button>
                        <img src="./images/time/twitter-icon.png" alt=""><span>Follow</span>
                    </button>
                </div>
                <div class=" pers3 slide">
                    <div class="talent-image">
                        <img src="./images/time/Layer-13.png" alt="">
                    </div>
                    <h2>Mostafa Amin</h2>
                    <p>Senior Graphic Designer</p>
                    <button>
                        <img src="./images/time/twitter-icon.png" alt=""><span>Follow</span>
                    </button>
                </div>
                <div class=" pers4 slide">
                    <div class="talent-image">
                        <img src="./images/time/Layer-14.png" alt="">
                    </div>
                    <h2>Ahmed Ali</h2>
                    <p>Senior Web Developer</p>
                    <button>
                        <img src="./images/time/twitter-icon.png" alt=""><span>Follow</span>
                    </button>
                </div>
                <div class="next" onclick="nextArrow(1)">
                    <img src="./images/header/arrows/arrow-next.png" alt="">
                </div>
                <!--                For Slideshow end -->
            </div>
        </div>

        <!--        Pricing area End-->
        <div class="pricing">
            <!--        Talented & Expects area End-->
            <div class="elegant-genuine">
                <h1>Elegant & Genuine</h1>
                <p>This how our works looks like :)</p>
                <div class="slid2">
                    <img src="./images/portfolio/arrow1.png" alt="">
                    <div>
                        <img src="./images/portfolio/Layer-6.png" alt="">
                        <h4>SMS Clouds</h4>
                    </div>
                    <div>
                        <img src="./images/portfolio/Layer-7.png" alt="">
                        <h4>Blue Apple Soft</h4>
                    </div>
                    <div>
                        <img src="./images/portfolio/Layer-8.png" alt="">
                        <h4>Together Application</h4>
                    </div>
                    <div>
                        <img src="./images/portfolio/Layer-10.png" alt="">
                        <h4>FCBarcelona Club</h4>
                    </div>
                    <img src="./images/portfolio/arrow.png" alt="">
                    <br>
                    <span class="districts2"></span>
                    <span class="districts2"></span>
                    <span class="districts2"></span>
                    <span class="districts2"></span>
                </div>


                <!--                for slide Start-->
                <div class="slidShow2">
                    <img onclick="arrowLeft(1)" src="./images/portfolio/arrow1.png" alt="">
                    <div class="show2">
                        <img src="./images/portfolio/Layer-6.png" alt="">
                        <h4>SMS Clouds</h4>
                    </div>
                    <div class="show2">
                        <img src="./images/portfolio/Layer-7.png" alt="">
                        <h4>Blue Apple Soft</h4>
                    </div>
                    <div class="show2">
                        <img src="./images/portfolio/Layer-8.png" alt="">
                        <h4>Together Application</h4>
                    </div>
                    <div class="show2">
                        <img src="./images/portfolio/Layer-10.png" alt="">
                        <h4>FCBarcelona Club</h4>
                    </div>
                    <img onclick="arrowRight(1)" src="./images/portfolio/arrow.png" alt="">
                    <br>
                    <span onclick="dist1(0)" class="districts2 slidDistricts"></span>
                    <span onclick="dist2(1)" class="districts2 slidDistricts"></span>
                    <span onclick="dist3(2)" class="districts2 slidDistricts"></span>
                    <span onclick="dist4(3)" class="districts2 slidDistricts"></span>
                </div>
                <!--                for slide End-->



                <div class="degree">
                    <div class="start-up">
                        <h3>Start Up</h3>
                        <p>For beginners</p>
                    </div>
                    <div class="standard">
                        <h3>Standard</h3>
                        <p>More than what you have <br> dreamed with</p>
                        <img src="./images/portfolio/icon.png" alt="">
                    </div>
                    <div class="professional">
                        <h3>Professional</h3>
                        <p>For smart people</p>
                    </div>
                </div>
                <div class="degree-side2">
                    <div>
                        <ul>
                            <li>Basic pages</li>
                            <li>MySQL Databases</li>
                            <li>Bandwith</li>
                            <li>Storage space</li>
                        </ul>
                        <div class="price pr1">
                            <img src="./images/portfolio/$.png" alt="">
                            <h2>15</h2><sub>/mo</sub>
                            <button>Order</button>
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li>Basic pages</li>
                            <li>MySQL Databases</li>
                            <li>Bandwith</li>
                            <li>Storage space</li>
                        </ul>
                        <div class="price pr2">
                            <img src="./images/portfolio/$.png" alt="">
                            <h2>25</h2><sub>/mo</sub>
                            <button>Order</button>
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li>Basic pages</li>
                            <li>MySQL Databases</li>
                            <li>Bandwith</li>
                            <li>Storage space</li>
                        </ul>
                        <div class="price pr3">
                            <img src="./images/portfolio/$.png" alt="">
                            <h2>35</h2><sub>/mo</sub>
                            <button>Order</button>
                        </div>
                    </div>
                </div>
                <span class="availables">And more available plans for all needs .... Check here</span>
            </div>
            <!--        Body area  End-->
        </div>
        <!--        Pricing area  End-->
    </div>
    <!--        Tweet area Start-->

    <!--    Footer area Start-->
    <footer>
        <div class="tweet">
            <div class="left-arrow3">
                <img src="./images/tweet/next-arrow.png" alt="">
            </div>
            <h1>Latest Tweets</h1>
            <p>This is how to keep in touch :)</p><br>
            <img src="./images/time/twitter-icon.png" alt="">
            <div class="right-arrow3">
                <img src="./images/tweet/prev-arrow.png" alt="">
            </div>
            <div class="paragraph">
                <p>@ Abd-Alrahaman Elgazzar
                    <span>Great work Abd-Alrahaman ,
                    I really love the application ...
                    hope you haveall the luck in ur life ..
                    also have alook here</span>
                    http://t.co/zfdgfdg</p>
            </div>
        </div>
        <!--        Tweet area End-->
        <div class="data">
            <div>
                <p>&#169; 2013 <span>Motion Template</span>. Design by Begha</p>
                <div class="rss">
                    <img src="./images/footer/rss.png" alt="">
                </div>
                <div class="twitter">
                    <img src="./images/footer/Twitter.png" alt="">
                </div>
                <div class="facebook">
                    <img src="./images/footer/face.png" alt="">
                </div>
            </div>

        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d24157.664911167678!2d44.4918368!3d40.8124075!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1569093478465!5m2!1sru!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <div class="contact">
                <h3>Contact Us</h3>
                <p>7oroof@7oroof.com</p>
                <p>Your address goes here</p>
                <img src="./images/footer/Rounded-Rectangle-32-copy-2.png" alt="">
            </div>

        </div>
    </footer>

    <!--    Footer area End-->



    <!--  -----------------------
            JS Area Start
    ---------------------------- -->
    <!--    Show and Close Respons menu Start-->
    <script>
        function showMenu() {
            document.getElementById('menu').style.display = "inline-block";
            document.getElementById('cros').style.display = "inline-block";
        }
        function closeMenu() {
            document.getElementById('menu').style.display = "none";
            document.getElementById('cros').style.display = "none";
        }
    </script>
    <!--    Show and Close Respons menu End-->

    <!--    Slide 1 Start -->
    <script>
        var index = 0,
            imgs = document.getElementsByClassName("slide");
        imgs[0].style.display = "inline-block";
        function prevArrow(n) {
            if(index > 0){
                index-= n;
            }else{
                index = 3;
            }
            for(let i = 0; i < imgs.length; i++){
                if(index === i){
                    imgs[index].style.display = "inline-block";
                }else{
                    imgs[i].style.display = "none";
                }
            }
        }
        function nextArrow(n) {
            if(index < 3){
                index += n;
            }else{
                index = 0;
            }
            for(let i = 0; i < imgs.length; i++){
                if(index === i){
                    imgs[index].style.display = "inline-block";
                }else{
                    imgs[i].style.display = "none";
                }
            }
        }
        for(let i = 1; i < imgs.length; i++){
            imgs[i].style.display = "none";
        }
    </script>
    <!--    Slide 1 End -->

    <!--    Slide 2 Start -->
    <script>
        var index = 0,
            img = document.getElementsByClassName("show2"),
            slidDistricts = document.getElementsByClassName("slidDistricts");
        function arrowLeft(n) {
            if(index > 0){
                index -= n;
            }else{
                index = 3;
            }
            for(let i = 0; i < img.length; i++){
                if(index === i){
                    img[index].style.display = "inline-block";
                    slidDistricts[index].style.backgroundColor = "#00c46d";
                }else{
                    img[i].style.display = "none";
                    slidDistricts[i].style.backgroundColor = "#646464";
                }
            }
        }
        function arrowRight(n) {
            if (index < 3){
                index += n;
            } else{
                index = 0;
            }
            for(let i = 0; i < img.length; i++){
                if(index === i){
                    img[index].style.display = "inline-block";
                    slidDistricts[index].style.backgroundColor = "#00c46d";
                }else{
                    img[i].style.display = "none";
                    slidDistricts[i].style.backgroundColor = "#646464";
                }
            }
        }
        function dist1(n) {
            img[n].style.display = 'inline-block';
            slidDistricts[n].style.backgroundColor = "#00c46d";
            for(let i = 1; i < 4; i++){
                img[i].style.display = "none";
                slidDistricts[i].style.backgroundColor = "#646464";
            }
        }
        function dist2(n) {
            img[n].style.display = 'inline-block';
            slidDistricts[n].style.backgroundColor = "#00c46d";
            for(let i = 2; i < 4; i++){
                img[i].style.display = "none";
                img[0].style.display = "none";
                slidDistricts[i].style.backgroundColor = "#646464";
                slidDistricts[0].style.backgroundColor = "#646464";
            }
        }
        function dist3(n) {
            img[n].style.display = 'inline-block';
            slidDistricts[n].style.backgroundColor = "#00c46d";
            img[0].style.display = "none";
            img[1].style.display = "none";
            img[3].style.display = "none";
            slidDistricts[0].style.backgroundColor = "#646464";
            slidDistricts[1].style.backgroundColor = "#646464";
            slidDistricts[3].style.backgroundColor = "#646464";
        }
        function dist4(n) {
            img[n].style.display = 'inline-block';
            slidDistricts[n].style.backgroundColor = "#00c46d";
            img[0].style.display = "none";
            img[1].style.display = "none";
            img[2].style.display = "none";
            slidDistricts[0].style.backgroundColor = "#646464";
            slidDistricts[1].style.backgroundColor = "#646464";
            slidDistricts[2].style.backgroundColor = "#646464";
        }
        for(let i = 1; i < img.length; i++){
            img[i].style.display = "none";
        }
    </script>
    <!--    Slide 2 End -->

    <!--  -----------------------
            JS Area End
    ---------------------------- -->
    </body>
</html>
