
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/assets/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>dresses</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Catagories</h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#clothing">
                                        <a >clothing</a>
                                        <ul class="sub-menu collapse show" id="clothing">
                                            <li>
                                                <a  
                                                    *ngFor="let clothing of clothes"
                                                    (click)="productsFilter($event.target.innerText,'clothing','productType')"
                                                >
                                                    {{clothing}}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                        <a >shoes</a>
                                        <ul class="sub-menu collapse" id="shoes">
                                            <li><a >All</a></li>
                                            <li><a >Bodysuits</a></li>
                                            <li><a >Dresses</a></li>
                                            <li><a >Hoodies &amp; Sweats</a></li>
                                            <li><a >Jackets &amp; Coats</a></li>
                                            <li><a >Jeans</a></li>
                                            <li><a >Pants &amp; Leggings</a></li>
                                            <li><a >Rompers &amp; Jumpsuits</a></li>
                                            <li><a >Shirts &amp; Blouses</a></li>
                                            <li><a >Shirts</a></li>
                                            <li><a >Sweaters &amp; Knits</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                        <a >accessories</a>
                                        <ul class="sub-menu collapse" id="accessories">
                                            <li ><a >All</a></li>
                                            <li><a >Bodysuits</a></li>
                                            <li><a >Dresses</a></li>
                                            <li><a >Hoodies &amp; Sweats</a></li>
                                            <li><a >Jackets &amp; Coats</a></li>
                                            <li><a >Jeans</a></li>
                                            <li><a >Pants &amp; Leggings</a></li>
                                            <li><a >Rompers &amp; Jumpsuits</a></li>
                                            <li><a >Shirts &amp; Blouses</a></li>
                                            <li><a >Shirts</a></li>
                                            <li><a >Sweaters &amp; Knits</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="widget price mb-50 ">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Filter by</h6>
                            <!-- Widget Title 2 -->
                            <p class="widget-title2  ">Price</p>
                            <div class="custom-slider">
                                <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" ></ng5-slider>  
                            </div>
                            <div class="range-price">Range: ${{minValue.toFixed(2)}} - ${{maxValue.toFixed(2)}}</div>
                        </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="widget color mb-50">
                                <!-- Widget Title 2 -->
                                <p class="widget-title2 mb-30">Color</p>
                                <div class="widget-desc">
                                    <ul class="d-flex">
                                        <li
                                            *ngFor="let color of colors"
                                            (click)="productsFilter($event,'color','color')"
                                        >
                                            <a [ngStyle]="{'background-color': color}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        <!-- ##### Single Widget ##### -->
                        <div class="widget brands mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Brands</p>
                            <div class="widget-desc">
                                <ul>
                                    <li 
                                        *ngFor="let brand of brands"
                                        (click)="productsFilter($event.target.innerText,'brends','brend')"
                                    >
                                        <a >
                                            {{brand}}
                                        </a>
                                     </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>{{products.length}}</span> products found</p>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        <p>Sort by:</p>
                                        <form action="#" method="get">
                                            <select name="select" id="sortByselect">
                                                <option value="value">Highest Rated</option>
                                                <option value="value">Newest</option>
                                                <option value="value">Price: $$ - $</option>
                                                <option value="value">Price: $ - $$</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <!-- Single Product -->
                            <!--  -->
                            <div class="col-12 col-sm-6 col-lg-4" *ngFor="let product of products | filterProduct : filterName : catagoriesName : dbName | rengePrice : rangeActiv : minValue : maxValue | paginate: config">
                                <div class="single-product-wrapper">
                                     
                                    <!-- Product Image -->
                                    <div class="product-img" >
                                        <img
                                        *ngFor="let item of product.img let i = index" 
                                        [src]="item" 
                                        [ngClass]="{'hover-img':i===1}"
                                        alt=""
                                        >
                                       
                                        <!-- Product Badge -->
                                        <div 
                                            class="product-badge " 
                                            *ngIf="product.discount"
                                           [ngStyle]="{'background-color' :  '#dc0345' }"
                                        >
                                            <span>-{{product.discount}}%</span>
                                        </div>
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a  class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>topshop</span>
                                        <a href="single-product-details.html">
                                            <h6>{{product.title}}</h6>
                                        </a>
                                        <p *ngIf="product.discount" class="product-price"><span class="old-price" >${{product.price.toFixed(2)}}</span> ${{(((100-product.discount)*product.price)/100).toFixed(2)}}</p>
                                        <p *ngIf="product.discount === '' || product.discount === null " class="product-price">${{product.price.toFixed(2)}}</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a  
                                                class="btn essence-btn"
                                                [routerLink]="['/shop', product.id]" 
                                                [queryParams]="{id:product.id}"
                                                >Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                   
                    <!-- Pagination -->
                    <pagination-controls
                    class="my-pagination" 
                    (pageChange)="pageChange($event)" 
                    directionLinks="true"
                    autoHide="true"
                    responsive="true"
                    previousLabel=""
                    nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->

