<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a>pro sidebar</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
               alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">Jhon
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
 
      <div id="accordion" role="tablist" class="sidebar-menu">
        <ul>
          <li class="header-menu ">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown card sidebar-dropdown myCard">
              <a class=" " role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <i class="fa fa-tachometer-alt"></i>
                <span>Products</span>
  
              </a >
              <div class="sidebar-submenu" id="collapseOne" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <ul class="card-body">
                  <li>
                    <a [routerLink]="['/adminHome/createProduct']">ProductsAdd
  
                    </a>
                  </li>
                  <li>
                    <a>Dashboard 2</a>
                  </li>
                  <li>
                    <a>Dashboard 3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown card sidebar-dropdown myCard">
                <a class="" role="tab" id="headingTwo" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa fa-shopping-cart"></i>
                  <span>E-commerce</span>
    
                </a >
                <div class="sidebar-submenu" id="collapseTwo" class="collapse " role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                  <ul class="card-body">
                      <li>
                          <a>Products
        
                          </a>
                        </li>
                        <li>
                          <a>Orders</a>
                        </li>
                        <li>
                          <a>Credit cart</a>
                        </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown card sidebar-dropdown myCard">
                  <a class="" role="tab" id="headingThree" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="far fa-gem"></i>
                    <span>Components</span>
      
                  </a >
                  <div class="sidebar-submenu" id="collapseThree" class="collapse " role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <ul class="card-body">
                        <li>
                            <a>General</a>
                          </li>
                          <li>
                            <a>Panels</a>
                          </li>
                          <li>
                            <a>Tables</a>
                          </li>
                          <li>
                            <a>Icons</a>
                          </li>
                          <li>
                            <a>Forms</a>
                          </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown card sidebar-dropdown myCard">
                    <a class=" " role="tab" id="headingFour" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="fa fa-chart-line"></i>
                      <span>Charts</span>
        
                    </a >
                    <div class="sidebar-submenu" id="collapseFour" class="collapse " role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                      <ul class="card-body">
                          <li>
                              <a >Pie chart</a>
                            </li>
                            <li>
                              <a >Line chart</a>
                            </li>
                            <li>
                              <a>Bar chart</a>
                            </li>
                            <li>
                              <a>Histogram</a>
                            </li>
                      </ul>
                    </div>
                  </li>
                  <li class="sidebar-dropdown card sidebar-dropdown myCard">
                      <a class=" " role="tab" id="headingFive" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <i class="fa fa-tachometer-alt"></i>
                        <span>Maps</span>
          
                      </a >
                      <div class="sidebar-submenu" id="collapseFive" class="collapse " role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                        <ul class="card-body ">
                            <li>
                                <a>Google maps</a>
                              </li>
                              <li>
                                <a>Open street map</a>
                              </li>
                        </ul>
                      </div>
                    </li>
                    <li class="header-menu">
                        <span>Extra</span>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-book"></i>
                          <span>Documentation</span>
                          <span class="badge badge-pill badge-primary">Beta</span>
                        </a>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-calendar"></i>
                          <span>Calendar</span>
                        </a>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-folder"></i>
                          <span>Examples</span>
                        </a>
                      </li>
        </ul>
        
    </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
  </main>
  <!-- page-content" -->
</div>
